-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: internship_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `advisor_evaluations`
--

DROP TABLE IF EXISTS `advisor_evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `advisor_evaluations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `requestId` int(11) NOT NULL,
  `advisorName` varchar(255) DEFAULT NULL,
  `c1` int(11) DEFAULT NULL,
  `c2` int(11) DEFAULT NULL,
  `c3` int(11) DEFAULT NULL,
  `c4` int(11) DEFAULT NULL,
  `c5` int(11) DEFAULT NULL,
  `c6` int(11) DEFAULT NULL,
  `c7` int(11) DEFAULT NULL,
  `c8` int(11) DEFAULT NULL,
  `c9` int(11) DEFAULT NULL,
  `c10` int(11) DEFAULT NULL,
  `c11` int(11) DEFAULT NULL,
  `c12` int(11) DEFAULT NULL,
  `c13` int(11) DEFAULT NULL,
  `c14` int(11) DEFAULT NULL,
  `c15` int(11) DEFAULT NULL,
  `c16` int(11) DEFAULT NULL,
  `c17` int(11) DEFAULT NULL,
  `companyComments` text DEFAULT NULL,
  `s1` int(11) DEFAULT NULL,
  `s2` int(11) DEFAULT NULL,
  `s3` int(11) DEFAULT NULL,
  `s4` int(11) DEFAULT NULL,
  `s5` int(11) DEFAULT NULL,
  `s6` int(11) DEFAULT NULL,
  `s7` int(11) DEFAULT NULL,
  `s8` int(11) DEFAULT NULL,
  `s9` int(11) DEFAULT NULL,
  `s10` int(11) DEFAULT NULL,
  `s11` int(11) DEFAULT NULL,
  `s12` int(11) DEFAULT NULL,
  `s13` int(11) DEFAULT NULL,
  `s14` int(11) DEFAULT NULL,
  `s15` int(11) DEFAULT NULL,
  `s16` int(11) DEFAULT NULL,
  `s17` int(11) DEFAULT NULL,
  `s18` int(11) DEFAULT NULL,
  `s19` int(11) DEFAULT NULL,
  `s20` int(11) DEFAULT NULL,
  `studentComments` text DEFAULT NULL,
  `createdAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `requestId` (`requestId`),
  CONSTRAINT `advisor_evaluations_ibfk_1` FOREIGN KEY (`requestId`) REFERENCES `requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(500) NOT NULL,
  `content` text NOT NULL,
  `category` enum('α╕úα╕▒α╕Üα╕¬α╕íα╕▒α╕äα╕ú','α╕¢α╕úα╕░α╕üα╕▓α╕¿','α╕üα╕┤α╕êα╕üα╕úα╕úα╕í','α╕ùα╕▒α╣êα╕ºα╣äα╕¢') DEFAULT 'α╕ùα╕▒α╣êα╕ºα╣äα╕¢',
  `coverImage` longtext DEFAULT NULL,
  `is_pinned` tinyint(1) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `author` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `daily_checkins`
--

DROP TABLE IF EXISTS `daily_checkins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_checkins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) NOT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕Öα╕▒α╕üα╕¿α╕╢α╕üα╕⌐α╕▓',
  `studentName` varchar(255) DEFAULT NULL,
  `date` date NOT NULL,
  `status` enum('present','late','absent') DEFAULT 'present',
  `note` text DEFAULT NULL,
  `createdAt` datetime DEFAULT current_timestamp(),
  `work_experience` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_date` (`studentId`,`date`),
  KEY `idx_daily_checkins_studentId` (`studentId`),
  KEY `idx_daily_checkins_date` (`date`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evaluations`
--

DROP TABLE IF EXISTS `evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `requestId` int(11) NOT NULL,
  `studentId` varchar(50) NOT NULL,
  `evaluatorName` varchar(255) DEFAULT NULL,
  `evaluatorPosition` varchar(255) DEFAULT NULL,
  `evaluatorDepartment` varchar(255) DEFAULT NULL,
  `q1` int(11) DEFAULT NULL,
  `q2` int(11) DEFAULT NULL,
  `q3` int(11) DEFAULT NULL,
  `q4` int(11) DEFAULT NULL,
  `q5` int(11) DEFAULT NULL,
  `q6` int(11) DEFAULT NULL,
  `q7` int(11) DEFAULT NULL,
  `q8` int(11) DEFAULT NULL,
  `q9` int(11) DEFAULT NULL,
  `q10` int(11) DEFAULT NULL,
  `q11` int(11) DEFAULT NULL,
  `q12` int(11) DEFAULT NULL,
  `q13` int(11) DEFAULT NULL,
  `q14` int(11) DEFAULT NULL,
  `q15` int(11) DEFAULT NULL,
  `q16` int(11) DEFAULT NULL,
  `q17` int(11) DEFAULT NULL,
  `q18` int(11) DEFAULT NULL,
  `q19` int(11) DEFAULT NULL,
  `q20` int(11) DEFAULT NULL,
  `strengths` text DEFAULT NULL,
  `improvements` text DEFAULT NULL,
  `hireFuture` varchar(50) DEFAULT NULL,
  `overallScore` varchar(50) DEFAULT NULL,
  `projectUsage` varchar(100) DEFAULT NULL,
  `otherComments` text DEFAULT NULL,
  `signature` longtext DEFAULT NULL,
  `createdAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `requestId` (`requestId`),
  CONSTRAINT `evaluations_ibfk_1` FOREIGN KEY (`requestId`) REFERENCES `requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payment_proofs`
--

DROP TABLE IF EXISTS `payment_proofs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_proofs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) NOT NULL,
  `studentName` varchar(255) DEFAULT NULL,
  `date` varchar(50) DEFAULT NULL COMMENT 'α╕ºα╕▒α╕Öα╕ùα╕╡α╣êα╕èα╕│α╕úα╕░ (th-TH format)',
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `department` varchar(200) DEFAULT NULL,
  `slipDataUrl` longtext DEFAULT NULL COMMENT 'base64 α╕úα╕╣α╕¢α╕¬α╕Ñα╕┤α╕¢',
  `slipFileName` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_payment_proofs_studentId` (`studentId`),
  KEY `idx_payment_proofs_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `requests`
--

DROP TABLE IF EXISTS `requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) NOT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕Öα╕▒α╕üα╕¿α╕╢α╕üα╕⌐α╕▓ (α╕¡α╣ëα╕▓α╕çα╕¡α╕┤α╕çα╕êα╕▓α╕ü users.studentId)',
  `studentName` varchar(255) DEFAULT NULL,
  `department` varchar(200) DEFAULT NULL,
  `company` varchar(255) DEFAULT NULL COMMENT 'α╕èα╕╖α╣êα╕¡α╕Üα╕úα╕┤α╕⌐α╕▒α╕ù',
  `position` varchar(200) DEFAULT NULL,
  `submittedDate` datetime DEFAULT NULL,
  `status` varchar(100) DEFAULT 'α╕úα╕¡α╕¡α╕▓α╕êα╕▓α╕úα╕óα╣îα╕ùα╕╡α╣êα╕¢α╕úα╕╢α╕üα╕⌐α╕▓α╕¡α╕Öα╕╕α╕íα╕▒α╕òα╕┤' COMMENT 'α╕¬α╕ûα╕▓α╕Öα╕░α╕áα╕▓α╕⌐α╕▓α╣äα╕ùα╕ó',
  `details` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'α╕éα╣ëα╕¡α╕íα╕╣α╕Ñα╕úα╕▓α╕óα╕Ñα╕░α╣Çα╕¡α╕╡α╕óα╕öα╕ùα╕▒α╣ëα╕çα╕½α╕íα╕ö' CHECK (json_valid(`details`)),
  `admin_comment` text DEFAULT NULL,
  `advisor_comment` text DEFAULT NULL,
  `dispatchLetter` longtext DEFAULT NULL COMMENT 'JSON: {fileName, mimeType, dataUrl} α╕½α╕Öα╕▒α╕çα╕¬α╕╖α╕¡α╕¬α╣êα╕çα╕òα╕▒α╕º',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `supervisionAppointment` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`supervisionAppointment`)),
  PRIMARY KEY (`id`),
  KEY `idx_requests_studentId` (`studentId`),
  KEY `idx_requests_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL COMMENT 'α╣âα╕èα╣ëα╣Çα╕¢α╣çα╕Ö email α╕öα╣ëα╕ºα╕ó',
  `password` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL COMMENT 'α╕èα╕╖α╣êα╕¡-α╕Öα╕▓α╕íα╕¬α╕üα╕╕α╕Ñ',
  `role` enum('student','company','advisor','admin') NOT NULL,
  `studentId` varchar(50) DEFAULT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕Öα╕▒α╕üα╕¿α╕╢α╕üα╕⌐α╕▓',
  `department` varchar(200) DEFAULT NULL COMMENT 'α╕¬α╕▓α╕éα╕▓α╕ºα╕┤α╕èα╕▓',
  `address` text DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `contactPerson` varchar(200) DEFAULT NULL COMMENT 'α╕£α╕╣α╣ëα╕òα╕┤α╕öα╕òα╣êα╕¡ (α╕¬α╕│α╕½α╕úα╕▒α╕Üα╕Üα╕úα╕┤α╕⌐α╕▒α╕ù)',
  `avatar` text DEFAULT NULL COMMENT 'base64 avatar α╕½α╕úα╕╖α╕¡ URL',
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_users_role` (`role`),
  KEY `idx_users_studentId` (`studentId`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-14  5:52:13
